.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    background-color: #A3C1AD;
    border: 0;

    mat-icon {
        margin-right: 8px;
    }
}

.icon-nav {
    padding-top: 10px;
    color: black;
}