<mat-list>
    <mat-list-item>
        <button mat-button class="menu-button">
            <a href="/creditcards" style="text-decoration: none;" class="icon-nav"><mat-icon
                    class="icon-nav">dashboard</mat-icon>Dashboard</a>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="menu-button">
            <a href="/creditcards" style="text-decoration: none;" class="icon-nav"><mat-icon>add</mat-icon><span>Add
                    Credit
                    Card</span></a>
        </button>
    </mat-list-item>
</mat-list>