<mat-toolbar class="header-toolbar">
  <img class="logo-img" src="../assets/images/logo.png" alt="">
  <button mat-icon-button (click)="toggleSidebar()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Credit Card Portal</span>
  <span class="header-spacer"></span>

  <button mat-icon-button class="example-icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="content-container">
  <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>